<!DOCTYPE html>
<html>

<head>
    <% include ./control/_meta %>
    <title><%= title %></title>
    <% include ./control/_import_css %>
    <!-- <link rel="stylesheet" type="text/css" href="<%= staticFilePath.css %>/page/index.css<%= version %>"> -->
</head>
<body>
<!-- <% include ./template/header %> -->

<div class="container index-wrapper">
hello world!
</div>
<!-- <% include ./template/footer %> -->

<% include ./control/_import_js %>
<script type="text/javascript" src="<%= staticFilePath.js %>/page/index.js<%= version %>"></script>
</body>

</html>
